<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

<body>
  <div class="min-vh-100 d-flex flex-column justify-content-between">

    <div class="container wrapper">
      <div class="hero row-auto">
        <h1>On this day.</h1>
        <p>Find wikipedia articles of events, births and deaths that happened on a specific day.</p>
      </div>

      <form method="post" action="/search" class="form row-auto justify-content-space-between">
        <div class="query">
          <div class="form-date">
            <input type="number" name="month" required min="1" max="12" placeholder="month" class="date" id="month" value=<%= locals.qurery ? query.month : "" %> />
            <span>/</span>
            <input type="number" name="day" required min="1" max="31" placeholder="day" class="date" id="day" value=<%= locals.query ? query.day : "" %> />
          </div>
          <input type="submit" value="search" class="form-btn" />
        </div>

        <div class="filters">
          <div class="filter">
            <select name="sort" class="form-select">
              <% if (locals.filters) { %>
              <option value="oldest" <%= filters.sort === "oldest" ? "selected" : "" %>>Sort by Oldest</option>
              <option value="newest" <%= filters.sort === "newest" ? "selected" : "" %>>Sort by Newest</option>
              <% } else { %>
              <option value="oldest">Sort by Oldest</option>
              <option value="newest">Sort by Newest</option>
              <% } %>
            </select>
          </div>

          <div class="filter">
            <select name="type" class="form-select">
              <% if (locals.filters) { %>
              <option value="events" <%= locals.filters.type === "events" ? "selected" : "" %>>Search for Events</option>
              <option value="births" <%= locals.filters.type === "births" ? "selected" : "" %>>Search for Births</option>
              <option value="deaths" <%= locals.filters.type === "deaths" ? "selected" : "" %>>Search for Deaths</option>
              <% } else { %>
              <option value="events">Search for Events</option>
              <option value="births">Search for Births</option>
              <option value="deaths">Search for Deaths</option>
              <% } %>
            </select>
          </div>
        </div>
      </form>

      <div class="results row-auto">
        <% if (locals.date && locals.events) { %>
        <h2 class="results-query">On <%= date %>:</h2>

        <% if (locals.filters) { %>
        <p class="results-filters">(<%= filters.type %>, <%= filters.sort %>)</p>
        <% } %>

        <hr />

        <!-- show the query results -->
        <%- include("partials/results.ejs", {events : events}) %>

        <% } else if (locals.date) { %>
        <h2>No results found.</h2>
        <% } %>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>